GH_USER="seu_usuario_github"
GH_PASS="sua_senha_github"
GH_TOTP_SECRET="SUA_CHAVE_SECRET_TOTP_MFA"

# Ajuste de tempo (em segundos) caso o relógio da VM esteja atrasado (ex: VM travada pelo hypervisor)
TIME_OFFSET_SECONDS="24"
